.select-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 8px;
}

.form-field {
    width: 45%;
    min-width: 220px;
}

.field-prefix {
    margin-right: 8px;
}

.currency-option-content {
    display: flex;
    justify-content: left;
    align-items: center;

    .currency-flag {
        margin-right: 16px;
    }
}

.card {
    margin: auto 16px;
    background-color: rgba(0,0,0,.01);

    &.result-card {
        margin-top: 16px;
    }
}

.amount-wrapper {
    padding: 16px;
    margin-bottom: 24px;
    display: flex;

    .amount-input {
        font: 400 48px Roboto, "Helvetica Neue";
        display: flex;
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 48px;
        padding: 2px 4px;
        border: none;
        border-bottom: 1px solid grey;
        box-shadow: 2px 1px 6px -2px grey;
        background-color: white;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        min-width: 0;
        flex-grow: 1;
    }
}

.exchange-rate-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    margin-bottom: 24px;

    h1 {
        margin: unset;
        margin-right: 8px;
    }

    span {
        font: 400 24px Roboto, "Helvetica Neue";
        font-weight: bold;
    }
}

.result-card {
    .result {
        font: 400 48px Roboto, "Helvetica Neue";
        box-sizing: border-box;
        padding: 2px 4px;
        min-width: 0;
        flex-grow: 1;
        overflow: hidden;
    }
}
