<div class="select-wrapper">
    <!-- "From" select component  -->
    <mat-form-field class="form-field">
        <mat-label>From:</mat-label>
        <div matPrefix class="field-prefix">
            <ng-container *ngIf="fromSelect && fromSelect.value">
                <span class="currency-flag currency-flag-lg" [ngClass]="getFlagClass(fromSelect.value.name)"></span>
            </ng-container>
        </div>
        <mat-select #fromSelect [(value)]="selectedFromCurrency" (selectionChange)="fromSelectionChange($event)">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
                <div class="currency-option-content">
                    <span class="currency-flag currency-flag-lg" [ngClass]="getFlagClass(currency.name)"></span>
                    <span>{{ currency.name }}</span>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- "To" select component  -->
    <mat-form-field class="form-field">
        <mat-label>To:</mat-label>
        <div matPrefix class="field-prefix">
            <ng-container *ngIf="toSelect && toSelect.value">
                <span class="currency-flag currency-flag-lg" [ngClass]="getFlagClass(toSelect.value.name)"></span>
            </ng-container>
        </div>
        <mat-select #toSelect [(value)]="selectedToCurrency" (selectionChange)="toSelectionChange($event)">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
                <div class="currency-option-content">
                    <span class="currency-flag currency-flag-lg" [ngClass]="getFlagClass(currency.name)"></span>
                    <span>{{ currency.name }}</span>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<ng-container *ngIf="!hasError">
    <!-- Exchange rate info -->
    <div class="exchange-rate-wrapper" *ngIf="exchangeRate">
        <h1>Exchange rate: </h1>
        <span>
            {{ exchangeRate.rate }}
        </span>
    </div>

    <!-- Amount input card -->
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <span *ngIf="fromSelect.value" class="currency-flag currency-flag-xl prefix-flag"
                    [ngClass]="getFlagClass(fromSelect.value.name)"></span>
            </div>
            <mat-card-title>Amount</mat-card-title>
            <mat-card-subtitle>The amount to be converted</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="amount-wrapper">
                <input class="amount-input" type="text" inputmode="decimal" [textMask]="mask" [(ngModel)]="value" />
            </div>
        </mat-card-content>
    </mat-card>

    <!-- Result card -->
    <mat-card class="card result-card" *ngIf="exchangeRate">
        <mat-card-header>
            <div mat-card-avatar>
                <span *ngIf="toSelect.value" class="currency-flag currency-flag-xl prefix-flag"
                    [ngClass]="getFlagClass(toSelect.value.name)"></span>
            </div>
            <mat-card-title>Result</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="result">
                {{ result }}
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>

<!-- Error card -->
<mat-card class="card" *ngIf="hasError">
    <mat-card-header>
        <mat-card-title>Error</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ errorMessage }}
    </mat-card-content>
</mat-card>
