.from-field-prefix {
    margin-right: 8px;
}

.currency-option-content {
    display: flex;
    justify-content: left;
    align-items: center;

    .currency-flag {
        margin-right: 16px;
    }
}