<div class="wrapper">
    <!-- Header -->
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            $kaikru converter
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="example-icon">info</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- Tabs -->
    <nav mat-tab-nav-bar class="tab-nav-bar" mat-stretch-tabs>
        <a mat-tab-link routerLink="/currency-converter" routerLinkActive #rla1="routerLinkActive"
            [active]="rla1.isActive">
            Currency converter
        </a>
        <a mat-tab-link routerLink="/currency-exchange-rate" routerLinkActive #rla2="routerLinkActive"
            [active]="rla2.isActive">
            Currency exchange rate
        </a>
    </nav>

    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>

<ng-template #dialogTemplate>
    <h1 mat-dialog-title>
        Skaikru converter
    </h1>
    <div mat-dialog-content>
        <div>This application is a project for the:</div>
        <div>Sofia University "St. Kliment Ohridski" Faculty of mathematics and informatics</div>
        <div class="margin-top">
            <span class="heading">Subject: </span>
            <span>Mobile applications 2020</span>
        </div>
        <div>
            <span class="heading">Authors: </span>
            <span>Tacho Zhelev, Yordan Mihaylov</span>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</ng-template>